

<%- include ('partials/header') %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
                <div class="container">
                  <div class="row">
                  	<div class="col-lg-12">
                  	  <div id="content">
                  	   <h1>Welcome to BookShala </h1>
                  	    <h3>We Review Books</h3>
                  	    <hr>
                  	    <a href="/campgrounds">
                  	     <button class="btn btn-light btn-lg"><i class="fa fa-paw"></i> Review Books</button>
                  	    </a>
                  	   
                  	  </div>
                  	</div>
                  </div>
                </div>




<%- include ('partials/footer') %>