<%- include ('./partials/header') %>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
            <section class='login' id='login'>
                             <div class='head'>
                                     <img src="https://pxntxs.github.io/templates/login-page/i/telescope.png">
                                    <h1 class='company'>Sign-Up to  Explore</h1>
                              </div>
                              <div class='form'>
                                    <form action="/register" method="POST">
                                    <input type="text" class="text" name="username" placeholder="username"><br>
                                     <input type="password" class="password" name="password" placeholder="password">
                                          <button class="btn-login">Signup</button>
                                 </form>
                        </div>        
                </section>

 <%- include ('./partials/footer') %>